<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Market</title>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/styles/css/reset.css" rel='stylesheet'>
    <link href="/styles/css/main.min.css" rel="stylesheet">
    <link href="../../static/styles/css/reset.css" rel='stylesheet'>
    <link href="../../static/styles/css/main.min.css" rel="stylesheet">


</head>

<body>
    <header>
        <div class="header-container">
            <span sec:authentication="principal.username"> User</span>
            <span>| </span><span style="color: red;">ADMIN</span>
        </div>
        <a class="logout-btn" th:href="@{/logout}">Logout  <i class="fa fa-sign-out"></i></a>
    </header>
    <i class="hwto hwto-twitter"></i>

    <div class="major-block">
        <section class="left-sec">
            <div class="left-sec_block">
                <a class="active" href="">Users</a>
                <a href="products">Products</a>
            </div>
        </section>
        <section class="right-sec">
            <div class="entities">
                <div class="entity-item-wrapper" th:each="user : ${users}">
                    <div class="entity-item">
                        <a class="entity-link" th:href="@{user/{id}(id=${user.getId()})}" th:text="${user.getEmail()}">user@gmail.com</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>

    <script>
        $(".entity-item").mousemove(function(e, btn) {
            const x = e.pageX - this.offsetLeft
            const y = e.pageY - this.offsetTop

            this.style.setProperty('--x', x + 'px')
            this.style.setProperty('--y', y + 'px')
        });
    </script>
</body>

</html>