<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Market</title>
</head>
<body>

<form th:method="POST" th:action="@{/user/products}" th:object="${product}">
    <div style="color:red" th:text="${status}">Error</div>
    <input type="hidden" th:value="*{id}" name="id"></input>
    <label id="name" for="name">Name: </label>
    <span th:text="*{name}">VALUE</span>
    <br>
    <label id="price" for="price">Price: </label>
    <span th:text="*{price}">VALUE</span>
    <br>
    <input type="submit" value="Buy">
</form>

<ul class="container">
    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
</ul>
</body>
</html>